#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  min-height: 100vh; /* 100% of the viewport height */
  width: 100vw;    /* 100% of the viewport width */
}

